@import 'mixins.scss';
ul, li, a {
    display: block;
    padding: 0;
    margin: 0;
}

$font-color: #0b2b33;
$rect-color: #23323a;
$url: '../img/';

body {
    font-family: Open Sans, sans-serif
}
//Header
.header {
    padding-top: 11px;
    margin-bottom: 16px;
}

.header__logo {
    margin-right: 22px;
}

.header__headline {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    padding-top: 15px;
    color: $font-color;
}

.header_connection {
    justify-content: flex-end;
}

.header__phone {
    font-size: 11px;
    color: $font-color;
    margin-right: 14px;
    margin-top: 21px;
}

.header__line {
    height: 11px;
    background-color: #6f7a7d;
    width: 1px;
    margin-top: 24px;
}

.header__social {
    margin-top: 20px;
}

.header__social-item {
    height: 20px;
    background: url($url+'social.png') no-repeat;
    margin-right: 20px;
}

.header__social--fb {
    width: 10px;
    background-position: 0 0;
}

.header__social--tw {
    width: 19px;
    background-position: -13px 0;
}

.header__social--sk {
    width: 19px;
    background-position: -33px 0;
}

.header__social--goo {
    width: 18px;
    background-position: -56px 0;
}

.header__social--vi {
    width: 16px;
    background-position: -77px 0;
}

.header__social--inn {
    width: 17px;
    background-position: -98px 0;
}

.header__social--inst {
    width: 16px;
    background-position: -121px 0;
}

//Navigation
.navigation {
    background-color: #accdda;
}

.navigation__menu-item {
    font-size: 11px;
}

.navigation__menu-item-link {
    color: #23323a;
    padding: 21px ;
}

.navigation__active-link {
    color: #008fd5;
}

.navigation__menu-item-link::after {
    content: url($url+'arrow-grey.png');
    margin-left: 12px;
}

.navigation__active-link:after {
    content: url($url+'arrow-blue.png');
}

.navigation__menu-item-link:hover {
    text-decoration: none;
    color: #008fd5;
}

.navigation__search {
    position: relative;
    height: 57px;
}

.navigation__search-btn {
    position: relative;
    width: 15px;
    height: 15px;
    background: url($url+'search-grey.png') no-repeat center;
    padding-top: 55px;
}

.navigation__search-block {
    display: none;
    margin-left: -230px;
    background: #f3f3f3;
    height: 55px;
    width: 270px;
    position: relative;
    top: 3px;
}

.navigation__search-block-input {
    border: none;
    outline: none;
    width: 212px;
    padding-left: 20px;
}

.navigation__search-block-btn {
    width: 58px;
    border: none;
    background: url($url+'search-white.png') no-repeat center;
    background-color: $rect-color;
}

.navigation__search-block::after {
    content: ''; 
    position: absolute;
    right: 14px;
    top: -18px;
    border: 9px solid transparent;	
    border-right: 9px solid $rect-color; 
    border-bottom: 9px solid $rect-color;
}

.navigation__search-block-active {
    display: flex;
    z-index: 9999;
} 

//Power
.carousel-control-next-icon {
    background-image: url($url+'carousel-next.png');
}

.carousel-control-prev-icon {
    background-image: url($url+'carousel-prev.png');
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 64px;
    height: 64px;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.carousel-item {
    height: 485px;
}

.power__logo {
    background: url($url+'white-ship.png') no-repeat center;
    z-index: 9999;
    width: 93px;
    height: 98px;
    position: absolute;
    top: 69px;
    right: 48%;
}

.power__headline {
    color: #fff;
    font-weight: 800;
    font-size: 82px;
    z-index: 9999;
    position: absolute;
    top: 187px;
    right: 24%;
}

.power__signature {
    color: #f1fbff;
    font-weight: 800;
    font-size: 14px;
    z-index: 9999;
    position: absolute;
    bottom: 125px;
    right: 36%;
    padding: 9px;
    border-top: 4px double #90bccd;
    border-bottom: 4px double #90bccd;
}

//Directions
.directions {
    height: 238px;
    background: linear-gradient(0deg, #0191d3, #23acc1);
    padding-top: 42px;
}

.directions__item {
    color: #fff;
    text-align: center;
}

.directions__item__develop {
    @include directions('develop.png');
}

.directions__item__seo {
    @include directions('seo.png');
}

.directions__item__communities {
    @include directions('communities.png');
}

.directions__item__analytics {
    @include directions('analytics.png');
}

.directions__item__headline {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
}

.directions__item__description {
    font-size: 12px;
    color: #8cd9ff;
}

//Recent
.recent {
    background-color: #23323a;
    padding: 35px 0 35px 0;
}

.recent__headline {
    color: #c4d3de;
    font-weight: 300;
    font-size: 30px;
}

.recent__description {
    font-size: 14px;
    color: #658190;
    text-align: center;
    margin-bottom: 2px;
}

//Projects
.projects {
    background-color: #23323a;
}

.projects__hover {
    display: none;
}

.projects__hover-link {
    background: url($url+'link.png') no-repeat center;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 29%;
    top: 21%;
}

.projects__hover-magnifier {
    background: url($url+'magnifier.png') no-repeat center;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 51%;
    top: 21%;
}

.project__about {
    background-color: #2a3b45;
    height: 96px;
    padding-top: 25px;
    padding-left: 20px;
    position: relative;
}

.project__about::after {
    content: '';
    position: absolute;
    left: 20px; 
    bottom: 92px;
    border: 13px solid transparent;	
    border-bottom: 13px solid #2a3b45;
}

.project__description {
    margin-right: 57%;
}

.project__description-title {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    width: 100px;
}

.project__description-text {
    color: #97a4ad;
    font-size: 11px;
}

.likes__img {
    padding-top: 15px;
    margin-right: 5px;
    background-image: url($url+'like-disactive.png');
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 25px;
}

.likes__active {
    background-image: url($url+'like-active.png');
    background-repeat: no-repeat;
    background-position: center;
}

.likes__count {
    color: #b0bac0;
    font-size: 11px;
    font-weight: 300;
    padding-top: 10px;
}

.projects__item:hover {
    .project__about {
        background-color: #2f424d;
    }
    
    .projects__hover {
        display: block;
    }
}

//Details
.details {
    background: url($url+'details-bg.png') no-repeat center;
    padding-top: 47px;
    padding-bottom: 33px;
}

.details__info {
    color: #23323a;
    font-size: 34px;
    font-weight: 300;
}

.details__info-blue {
    color: #008fd5;
}

.details__more {
    width: 200px;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    background: url($url+'details-more.png') no-repeat 24% center #008fd5;
    padding: 19px 22px 19px 67px;
}

.details__more:hover{
    text-decoration: none;
    color: #fff;
    background-color: #0675c5;
}

//Posts
.posts {
    padding-top: 45px;
}

.posts__title {
    font-size: 22px;
    color: #23323a;
    margin-bottom: 26px;
}

.posts__item {
    margin-bottom: 20px;
}

.posts__item-date {
    flex-flow: column;
    margin-right: 15px;
}

.posts__item-date-number {
    font-size: 48px;
    font-weight: 300;
    color: #008fd5;
}

.posts__item-date-month {
    font-size: 11px;
    color: #23323a;
    margin-bottom: 13px;
}

.posts__item-date-icon {
    width: 22px;
    height: 19px;
    margin: 0 auto;
}

.posts__item-date-icon-v {
    width: 24px;
    height: 14px;
    margin: 0 auto;
}

.posts__item-photo {
    width: 25%;
    height: 25%;
    margin-right: 29px;
}

.posts__body-link {
    margin-bottom: 13px;
}

.body__link-item {
    font-size: 10px;
    color: #23323a;
    margin-right: 9px;
}

.body__link-item::after {
    content: '■';
    font-size: 6px;
    color: #9aa9b3;
    vertical-align: middle;
    margin-left: 9px;
}

.body__link-item:last-child::after {
    content: '>';
    font-size: 12px;
    font-weight: 300;
    color: #008fd5;
    margin-left: 5px;
}

.body__link-item:hover {
    text-decoration: none;
    color: #008fd5;
}

.posts__body-line {
    background-color: #e5e8ea;
    height: 1px;
    margin-bottom: 14px;
}

.posts__body-title {
    font-size: 18px;
    color: #008fd5;
}

.posts__body-description {
    font-size: 13px;
    color: #73848e;
}

//Accordeon
.accordeon {
    width: 270px;
}

.accordeon__btn {
    border: 1px solid #ebeef0;
    border-bottom: none;
    height: 40px;
}

.accordeon__item:last-child {
    border-bottom: 1px solid #ebeef0;
}

.accordeon__btn:hover {
    text-decoration: none;
    color: #008fd5;
}

.accordeon__btn span {
    display: block;
    color: #008fd5;
    font-size: 25px;
    font-weight: 300;
    border-right: 1px solid #ebeef0;
    width: 40px; 
    text-align: center;
}

.accordeon__title  {
    font-size: 15px;
    color: #23323a;
    padding: 10px 20px;
}

.accordeon__content {
    font-size: 13px;
    color: #73848e;
    padding: 20px;
}

.accordeon__item-active {
    .accordeon__title {
        color: #008fd5;
    }
    border-bottom: 1px solid #ebeef0
}

//Comment
.comment__profile {
    margin-bottom: 20px;
}

.comment__person {
    background-color: #23323a;
    width: 188px;
    padding: 18px 20px;
    position: relative;
}

.person__name{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.person__company {
    color: #8cd9ff;
    font-size: 10px;
}

.comment__person::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;	
    border-left: 20px solid #23323a; 
    border-top: 20px solid #23323a;
    right: 0px;
}

.comment__quote {
    height: 23px;
    margin-right: 15px;
}

.comment__title {
    font-size: 14px;
    color: #008fd5;
    margin-bottom: 15px;
}

.comment__description {
    font-size: 13px;
    color: #73848e;
}

//Development
.development {
    background-color: #098ed1;
    padding-top: 25px;
}

.development__photos {
    position: relative;
    top: 60px;
}

.development__photos-back {
    z-index: 1;
    position: absolute;
    width: 46%;
    top: 19.9%;
    left: 11.3%;
}

.development__photos-front {
    z-index: 3;
    position: absolute;
    width: 60%;
    top: 11.8%;
    right: 5%;
}

.development__photos-shadow-one {
    position: absolute;
    width: 85%;
    top: 56%;
    right: 4.5%;
}

.development__photos-shadow-two {
    z-index: 2;
    position: absolute;
    width: 52%;
    top: 13%;
    left: 29%;
}

.development__photos-keyboard {
    position: absolute;
    width: 70%;
    bottom: 12%;
    right: 15%;
}

.development__information-item {
    border-bottom: 1px solid #00a2de;
    padding: 25px 20px;
}

.information__item-icon {
    margin-right: 30px;
    margin-top: 10px;
}

.description__title {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    margin-bottom: 5px;
}

.description__text {
    color: #8cd9ff;
    font-size: 13px;
    span {
        font-weight: 800;
    }
}

.development__information-item:last-child {
    border-bottom: none;
}

//Team
.team {
    background: url('https://via.placeholder.com/1600x549/353f4b') no-repeat center;
    padding-top: 37px;
    padding-bottom: 63px;
}

.team__title {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

.team__photo {
    text-align: center;
    margin-bottom: 20px;
}

.team__photo img{
    border: 5px solid rgba(255,255,255,0.05);
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.team__information {
    text-align: center;
}

.team__name {
    font-weight: 300;
    font-size: 18px;
    color: #f5f5f5;
}

.team__position {
    font-weight: 800;
    font-size: 11px;
    color: #2691ac;
    margin-bottom: 10px;
}

.team__description {
    font-size: 13px;
    color: #b9c3ca;
    margin-bottom: 20px;
}

.team__description-border {
    width: 70px;
    height: 1px;
    background-color: #646b75;
    margin: 0 auto;
    margin-bottom: 20px;
}

//Clients
.clients {
    padding: 25px 0px;
}

.clients__item {
    margin-left: 82px;
}

//Contacts
.contacts {
    background: url('https://via.placeholder.com/1600x442/495b69') no-repeat center;
    padding-top: 40px;
    padding-bottom: 35px;
}

.contacts__title {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

.input {
    outline: none;
    font-family: Arial;
    font-size: 15px;
    color: #23323a;
    padding-left: 5%;
    border: none;
    opacity: 0.67;
    width: 550px;
    margin-bottom: 10px;
    height: 45px;
    &::placeholder {
        color: #19242a;
    }
}

.textarea__message {
    height: 95px;
    margin-bottom: 25px;
}

.input__name {
    @include input('form-name.png');
}

.input__mail {
    @include input('form-mail.png'); 
}

.form__buttons {
    text-align: center;
}

.form__button {
    border: 0;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    outline: none;
    &:hover{
        background-color: rgba(255,255,255,0.25);
    }
    background: rgba(255,255,255,0.15);
    font-size: 11px;
    width: 120px;
    color: #fff;
    font-weight: 300;
    padding: 15px 0;
}

.form__button-clear{
  margin-left: 2%;
  padding-right: 18px;
  background-image: url($url+'clear.png');
  background-repeat: no-repeat;
  background-position: 67% 50%;
}

//Twit
.twit {
    background-color: #008fd5;
}

.twit__icon {
    width: 125px;
    height: 120px;
    background: rgba(255, 255, 255, 0.12);
    text-align: center;
    padding-top: 40px;
    position: relative;
}

.twit__icon::after {
    content: '';
    position: absolute;
    right: -18px;
    top: 20%;
    border-right: 9px solid transparent;
    border-bottom: 12px solid transparent;
    border-top: 12px solid rgba(255, 255, 255, 0.12);
    border-left: 9px solid rgba(255, 255, 255, 0.12);
}

.twit__carousel {
    padding-top: 40px;
}

.twit__information {
    font-size: 16px;
    font-weight: 300;
}

.twit__login {
    color: #bbdbef;
    font-style: italic;
    margin-right: 5px;
}

.twit__description {
    color: #fff;
}

.twit__time {
    color: #bbdbef;
    font-size: 12px;
    font-style: italic;
}

.owl-nav {
    position: absolute;
    top: 40%;
    right: 0;
    color: #fff;
    font-size: 34px;
    font-weight: 300;   
}

.owl-prev {
    margin-right: 15px;
}

.owl-prev:focus, 
.owl-next:focus {
    outline: none;
}

//Footer
.footer {
    background-color: #19242a;
    padding-top: 20px;
}

.footer__logo {
    margin-right: 22px;
    margin-bottom: 23px;
}

.footer__headline {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: #547e93;
    padding-top: 15px;
}

.footer__description {
    font-size: 12px;
    color: #7ca1b3;
}

.footer__title {
    font-size: 18px;
    font-weight: 300;
    color: #7ca1b3;
    padding-top: 15px;
    margin-bottom: 35px;
}

.footer__posts-item {
    border-bottom: 1px solid #23323a;
    margin-bottom: 17px;
}

.footer__posts-item:last-child {
    border-bottom: none;
}

.footer__posts-date {
    color: #7ca1b3;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px;
}

.footer__posts-headline {
    color: #bdd2dc;
    font-size: 13px;
    font-style: italic;
}

.footer__posts-description {
    color: #7ca1b3;
    font-size: 12px;
}

.contacts__item {
    color: #7ca1b3;
    font-size: 12px;
    margin-bottom: 20px;
}
 
.contacts__icon {
    margin-right: 15px;
}

.contacts__description p {
    margin-bottom: 0;
}

.footer__letter {
    font-size: 12px;
    color: #7ca1b3;
    margin-bottom: 15px;
}

.footer__letter-submit {
    margin-bottom: 20px;
}

.letter__text {
    height: 40px;
    background-color: #23323a;
    border: none;
    outline: none;
    width: 250px;
    padding-left: 15px;
    color: #7ca1b3;
}

.letter__submit {
    outline: none;
    border: none;
    background: url($url+'send.png') no-repeat center;
    background-color: #23323a;
    width: 40px;
}

.footer__social-title {
    font-size: 18px;
    color: #7ca1b3;
    font-weight: 300;
    margin-bottom: 25px;
}

.footer__social {
    margin-bottom: 55px;
}

.copyright {
    background-color: #141d22;
}

.copyright__description {
    font-size: 12px;
    color: #547e93;
    margin-left: 45%;
    padding: 25px 0;
}

//Media
@import 'media.scss';
