@media screen and (max-width: 1460px) {
    .project__description {
        margin-right: 48%;
    }
}

@media screen and (max-width: 1199px) {
    .header__social-item {
        margin-right: 15px;
    }
    
    .navigation__menu-item-link {
        padding: 21px 13px;
    }
    
    .power__logo {
        right: 45%;
    }
    
    .power__headline {
        right: 16%;
    }
    
    .power__signature {
        right: 32%;
    }
    
    .project__description {
        margin-right: 35%;
    }
    
    .directions__item__headline {
        font-size: 20px;
    }
    
    .details {
        padding-bottom: 42px;
    }
    
    .details__info {
        font-size: 28px;
    }
    
    .details__more {
        width: 155px;
        padding: 19px 20px 19px 46px;
        background-position: 16%;
    }
    
    .accordeon {
        width: 220px;
    }
    
    .accordeon__btn span {
        width: 35px;
    }
    
    .accordeon__title {
        font-size: 13px;
        padding: 10px 6px;
    }
    
    .body__link-item {
        width: 64px;
        margin-right: 0;
        font-size: 9px;
    }
    
    .body__link-item::after {
        content: none;
    }
    
    .body__link-item:last-child::after {
        content: none;
    }
    
    .team {
        padding-top: 18px;
    }
    
    .team__social {
        margin-left: 16px;
    }
    
    .header__social-item {
        margin-right: 9px;
    }
    
    .clients__item {
        margin-left: 60px;
    }
    
    .input {
        width: 475px;
    }
    
    .twit__information {
        font-size: 14px;
    }
    
    .copyright__description {
        margin-left: 10%;
    }
}

@media screen and (max-width: 991px) {
    .power__headline {
        font-size: 67px;
        right: 13%;
    }
    
    .header__social-item {
        margin-right: 5px;
    }
    
    .carousel-item {
        height: 100%;
    }
    
    .carousel-control-next, 
    .carousel-control-prev {
        bottom: 70px;
    }
    
    .power__signature {
        right: 28%;
        font-size: 12px;
    }
    
    .directions {
        height: 100%;
    }
    
    .project__about {
        height: 84px;
        padding-top: 17px;
    }
    
    .project__description {
        margin-right: 30%;
    }
    
    .project__about::after {
        bottom: 83px;
    }
    
    .details {
        padding-bottom: 15px;
        padding-top: 33px;
    }
    
    .details__info {
        text-align: center;
    }
    
    .details__more {
        width: 120px;
        padding: 15px 20px 15px 15px;
        background-image: none;
    }
    
    .posts__item-photo {
        width: 130px;
    }
    
    .body__link-item {
        width: 110px;
        font-size: 13px;
    }
    
    .posts__body-title {
        font-size: 21px;
    }
    
    .posts__body-description {
        font-size: 16px;
    }
    
    .accordeon {
        width: 300px;
    }
    
    .accordeon__btn {
        height: 45px;
    }
    
    .accordeon__btn span {
        width: 45px;
    }
    
    .accordeon__title {
        font-size: 18px;
        padding: 11px 13px;
    }
    
    .accordeon__content {
        font-size: 15px;
    }
    
    .comment__person {
        width: 210px;
        padding: 18px 30px;
    }
    
    .comment__title {
        font-size: 16px;
    }
    
    .comment__description {
        font-size: 15px;
    }
    
    .comment__body{
        padding-bottom: 40px;
    }
    
    .development__photos {
        top: 0;
    }
    
    .description__title {
        font-size: 25px;
    }
    
    .description__text {
        font-size: 16px;
    }
    
    .development__information  {
        padding-bottom: 25px;
    }
    
    .team {
        background: #353F4B;
        padding-bottom: 0;
    }
    
    .team__social {
        margin-left: 80px;
    }
    
    .team__information {
        margin-bottom: 30px;
    }
    
    .clients__item img {
        width: 94%;
    }
    
    .clients__item  {
        margin-left: 84px;
    } 
    
    .contacts__form {
        text-align: center;
    }
    
    .twit__icon {
        width: 107px;
        height: 107px;
    }
    
    .twit__carousel {
        padding-top: 23px;
        margin-left: 30px;
    }
    
    .footer__description {
        font-size: 15px;
    }
    
    .footer__title {
        font-size: 20px;
    }
    
    .footer__posts-date {
        font-size: 12px;
    }
    
    .footer__posts-headline {
        font-size: 16px;
    }
    
    .footer__posts-description {
        font-size: 14px;
    }
    
    .contacts__item {
        font-size: 14px;
    }
    
    .footer__letter {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .project__description {
        margin-right: 60%;
    }
}

@media screen and (max-width: 879px) {
    .power__signature {
        bottom: 70px;
    }
}
    
@media screen and (max-width: 767px) {
    .logo {
       justify-content: center;
    }
    
    .carousel-control-next, .carousel-control-prev {
        bottom: 0px;
    }
    
    .power__logo {
        background-size: 65%;
        right: 43%;
        top: 30px;
    }
    
    .power__headline {
        font-size: 48px;
        right: 14%;
        top: 115px;
    }
    
    .power__signature {
        right: 24%;
        font-size: 11px;
        bottom: 75px;
    }
    
    .recent__headline {
        text-align: center;
    }
    
    .project__description {
        margin-right: 40%;
    }
    
    .details {
        padding-bottom: 9px;
        padding-top: 3px;
    }
    
    .details__more {
        margin: 0 auto;
        background: url(../img/details-more.png) no-repeat 16% center #008fd5;
        padding: 15px 20px 15px 42px;
        width: 150px;
    }
    
    .details__info {
        font-size: 24px;
    }
    
    .body__link-item {
        width: 75px;
        font-size: 10px;
    }
    
    .posts__body-title {
        font-size: 18px;
    }
    
    .posts__body-description {
        font-size: 14px;
    }
    
    .accordeon {
        width: 230px;
    }
    
    .accordeon__btn {
        height: 40px;
    }
    
    .accordeon__title {
        font-size: 14px;
        padding: 11px 8px;
    }
    
    .accordeon__btn span {
        width: 35px;
    }
    
    .accordeon__content {
        font-size: 13px;
    }
    
    .comment__person {
        padding: 19px 23px;
    }
    
    .comment__title {
        font-size: 14px;
    }
    
    .comment__description {
        font-size: 13px;
    }
    
    .description__title {
        font-size: 20px;
    }
    
    .description__text {
        font-size: 14px;
    }
    
    .team__social {
        margin-left: 35px;
    }
    
    .footer__description {
        font-size: 13px;
    }
    
    .footer__posts-date {
        font-size: 10px;
    }
    
    .footer__posts-headline {
        font-size: 14px;
    }
    
    .footer__posts-description {
        font-size: 12px;
    }
    
    .contacts__item {
        font-size: 12px;
    }
    
    .footer__letter {
        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    .header__social-item {
        margin-right: 2px;
    }
    
    .navigation__menu-item {
        font-size: 9px;
    }
    
    .navigation__menu-item-link {
        padding: 7px 19px;
    }
    
    .navigation__search-block {
        margin-left: -245px;
    }
    
    .power__logo {
        background-size: 56%;
        right: 42%;
        top: 25px;
    }
    
    .power__headline {
        font-size: 45px;
        right: 15%;
        top: 115px;
    }
    
    .power__signature {
        right: 27%;
        font-size: 9px;
        bottom: 67px;
    }
    
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    }
    
    .carousel-control-next, 
    .carousel-control-prev {
        bottom: 0px;
    }
    
    .directions {
        height: 340px;
    }
    
    .directions__item__headline {
        font-size: 15px;
    }
    
    .directions__item__description {
        font-size: 8px;
    }
    
    .recent__headline {
        font-size: 24px;
    }
    
    .recent__description {
        font-size: 11px;
    }
    
    .project__description {
        margin-right: 45%;
    }
    
    .posts {
        padding-top: 20px;
    }
    
    .posts__title {
        font-size: 21px;
    }
    
    .posts__item-date {
        margin-right: 2px;
    }
    
    .posts__item-date-number{
        font-size: 27px;
    }
    
    .posts__item-date-month {
        font-size: 6px;
    }
    
    .posts__item-photo {
        width: 85px;
        margin-right: 3px;
    }
    
    .posts__body-link {
        width: 210px;
    }
    
    .body__link-item {
        width: 44px;
        font-size: 10px;
        margin-right: 19px;
    }
    
    .posts__body-title {
        font-size: 14px;
    }
    
    .posts__body-description {
        font-size: 11px;
    }
    
    .accordeon {
        width: 310px;
        margin-bottom: 25px;
    }
    
    .accordeon__btn {
        height: 40px;
    }
    
    .accordeon__btn span {
        width: 40px;
    }
    
    .accordeon__title {
        font-size: 16px;
        padding: 11px 25px;
    }
    
    .description__title {
        font-size: 18px;
    }
    
    .description__text {
        font-size: 12px;
    }
    
    .team__social {
        margin-left: 100px;
    }
    
    .clients__item {
        margin-left: 27%;
    }
    
    .input {
        width: 325px;
        height: 40px;
    }
    
    .textarea__message {
        height: 90px;
    }
    
    .twit__icon {
        width: 80px;
        height: 80px;
        padding-top: 28px;
    }
    
    .twit__icon img {
        width: 53%;
    }
    
    .twit__icon::after {
        content: '';
        position: absolute;
        right: -14px;
        top: 14%;
        border-right: 7px solid transparent;
        border-bottom: 9px solid transparent;
        border-top: 9px solid rgba(255, 255, 255, 0.12);
        border-left: 7px solid rgba(255, 255, 255, 0.12);
    }
    
    .twit__carousel {
        padding-top: 16px;
        margin-left: 30px;
        width: 210px;
    }
    
    .twit__information {
        font-size: 9px;
    }
    
    .twit__time {
        font-size: 10px;
    }
    
    .owl-nav {
        right: -15px;
        font-size: 27px;
    }
    
    .footer__title {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .copyright__description {
        margin-left: 20%;
    }
    
    .footer__social {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .power__logo {
        background-size: 34%;
        right: 39%;
        top: -8px;
    }
    
    .power__headline {
        font-size: 28px;
        right: 16%;
        top: 65px;
    }
    
    .power__signature {
        right: 23%;
        font-size: 7px;
        bottom: 40px;
    }
}

